<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Webscraping

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Use webscraping to get bank information

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!pip install pandas
!pip install bs4
#!pip install requests

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Collecting beautifulsoup4
  Downloading beautifulsoup4-4.10.0-py3-none-any.whl (97 kB)
     |████████████████████████████████| 97 kB 6.0 MB/s
Collecting soupsieve>1.2
  Downloading soupsieve-2.3.1-py3-none-any.whl (37 kB)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1271 sha256=c91edc75d42de34ff30cdcb86dcf9038e1fb6f2bd26782ce2e4750e732ff5a22
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/0a/9e/ba/20e5bbc1afef3a491f0b3bb74d508f99403aabe76eda2167ca
Successfully built bs4
Installing collected packages: soupsieve, beautifulsoup4, bs4
Successfully installed beautifulsoup4-4.10.0 bs4-0.0.1 soupsieve-2.3.1

## Imports

Import any additional libraries you may need here.

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

## Extract Data Using Web Scraping

The wikipedia webpage [https://en.wikipedia.org/wiki/List_of_largest_banks](https://en.wikipedia.org/wiki/List_of_largest_banks?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01) provides information about largest banks in the world by various parameters. Scrape the data from the table 'By market capitalization' and store it in a JSON file.

### Webpage Contents

Gather the contents of the webpage in text format using the `requests` library and assign it to the variable <code>html_data</code>

In [115]:
#Write your code here
url_target = 'https://en.wikipedia.org/wiki/List_of_largest_banks'
r = requests.get(url_target)
html_data = r.text

     success   timestamp base        date         rates
AED     True  1639457056  EUR  2021-12-14      4.141981
AFN     True  1639457056  EUR  2021-12-14    116.738180
ALL     True  1639457056  EUR  2021-12-14    120.935957
AMD     True  1639457056  EUR  2021-12-14    558.853522
ANG     True  1639457056  EUR  2021-12-14      2.030825
..       ...         ...  ...         ...           ...
YER     True  1639457056  EUR  2021-12-14    282.194804
ZAR     True  1639457056  EUR  2021-12-14     18.091515
ZMK     True  1639457056  EUR  2021-12-14  10150.216122
ZMW     True  1639457056  EUR  2021-12-14     18.228325
ZWL     True  1639457056  EUR  2021-12-14    363.103753

[168 rows x 5 columns]

<b>Question 1</b> Print out the output of the following line, and remember it as it will be a quiz question:

In [10]:
#data[101:124]
html_data[101:124]

'List of largest banks -'

### Scraping the Data

<b> Question 2</b> Using the contents and `beautiful soup` load the data from the `By market capitalization` table into a `pandas` dataframe. The dataframe should have the country `Name` and `Market Cap (US$ Billion)` as column names.  Display the first five rows using head.

Using BeautifulSoup parse the contents of the webpage.

In [55]:
#Replace the dots below
#soup="......"
soup = BeautifulSoup(html_data, 'html.parser')
#print(soup.prettify())
soup1 = soup.find_all('tbody')

table_index = 0
for index,table in enumerate(soup1):
    #print(index, table)
    if ("Market cap" in str(table)):
        table_index = index
        break
print(table_index)


#soup2 = soup1.find_all('tr')
#soup2[1].find_all('td')
#soup3 = soup1.find_all('td')

#soup1 = soup1.find_all('td')

3

Load the data from the `By market capitalization` table into a pandas dataframe. The dataframe should have the country `Name` and `Market Cap (US$ Billion)` as column names. Using the empty dataframe `data` and the given loop extract the necessary data from each row and append it to the empty dataframe.

In [86]:
data = pd.DataFrame(columns=["Name", "Market Cap (US$ Billion)"])

#print(soup.find_all('tbody')[3].find_all('tr')[1].find_all('td')[1].text.strip())
      
for row in soup.find_all('tbody')[3].find_all('tr'):
    col = row.find_all('td')
    
    if (col != []):
        bank_name = col[1].text.strip()
        bank_market_cap = col[2].text.strip()
        
        #data['Name'] = bank_name
        #data.Market Cap (US$ Billion)= bank_market_cap
        #data.Name = 
        data = data.append({"Name":bank_name, "Market Cap (US$ Billion)":bank_market_cap}, ignore_index = True)
        """
        rank = col[0].text.strip()
        country = col[1].text.strip()
        population = col[2].text.strip()
        area = col[3].text.strip()
        density = col[4].text.strip()
        population_data = population_data.append({"Rank":rank, "Country":country, "Population":population, "Area":area, "Density":density}, ignore_index=True)
        """
    #Write your code here
data

                                       Name Market Cap (US$ Billion)
0                            JPMorgan Chase                  488.470
1                           Bank of America                  379.250
2   Industrial and Commercial Bank of China                  246.500
3                               Wells Fargo                  308.013
4                   China Construction Bank                  257.399
..                                      ...                      ...
65                             Ping An Bank                   37.993
66                       Standard Chartered                   37.319
67                     United Overseas Bank                   35.128
68                                QNB Group                   33.560
69                    Bank Rakyat Indonesia                   33.081

[70 rows x 2 columns]

**Question 3** Display the first five rows using the `head` function.

In [138]:
#Write your code here
data.head(5)

url = "http://api.exchangeratesapi.io/v1/latest?access_key=64f2dd905b60262e67c6fbaea42ff4f6"  #Make sure to change ******* to your API key.
r = requests.get(url)
api_text = r.text
dict_api = json.loads(api_text)

data_frame_api = pd.DataFrame(dict_api, columns=['rates']).rename(columns={'rates':'Rates'})

target_csv = 'exchange_rates_1.csv'
data_frame_api.to_csv(target_csv)

{'success': True, 'timestamp': 1639460355, 'base': 'EUR', 'date': '2021-12-14', 'rates': {'AED': 4.142591, 'AFN': 116.757698, 'ALL': 120.956177, 'AMD': 558.946961, 'ANG': 2.031164, 'AOA': 630.667473, 'ARS': 114.652861, 'AUD': 1.587268, 'AWG': 2.030678, 'AZN': 1.920089, 'BAM': 1.955338, 'BBD': 2.275797, 'BDT': 96.70401, 'BGN': 1.955965, 'BHD': 0.425234, 'BIF': 2246.376123, 'BMD': 1.127841, 'BND': 1.540942, 'BOB': 7.771611, 'BRL': 6.407609, 'BSD': 1.127117, 'BTC': 2.3968899e-05, 'BTN': 85.399203, 'BWP': 13.212513, 'BYN': 2.855544, 'BYR': 22105.690964, 'BZD': 2.271998, 'CAD': 1.446, 'CDF': 2256.810291, 'CHF': 1.041263, 'CLF': 0.034392, 'CLP': 948.976764, 'CNY': 7.178823, 'COP': 4383.355507, 'CRC': 719.589288, 'CUC': 1.127841, 'CUP': 29.887796, 'CVE': 110.236789, 'CZK': 25.407223, 'DJF': 200.656871, 'DKK': 7.435969, 'DOP': 63.856864, 'DZD': 156.880454, 'EGP': 17.715342, 'ERN': 16.917709, 'ETB': 54.905707, 'EUR': 1, 'FJD': 2.406363, 'FKP': 0.85082, 'GBP': 0.854215, 'GEL': 3.49062, 'GGP': 0.85082, 'GHS': 6.920629, 'GIP': 0.85082, 'GMD': 59.217777, 'GNF': 10698.823746, 'GTQ': 8.718469, 'GYD': 235.799657, 'HKD': 8.799255, 'HNL': 27.265122, 'HRK': 7.522814, 'HTG': 113.340995, 'HUF': 367.845553, 'IDR': 16175.952147, 'ILS': 3.509132, 'IMP': 0.85082, 'INR': 85.640436, 'IQD': 1645.073598, 'IRR': 47651.298519, 'ISK': 147.611674, 'JEP': 0.85082, 'JMD': 174.440799, 'JOD': 0.799869, 'JPY': 128.1177, 'KES': 127.254094, 'KGS': 95.639929, 'KHR': 4585.226601, 'KMF': 491.597868, 'KPW': 1015.057151, 'KRW': 1334.738269, 'KWD': 0.341775, 'KYD': 0.93936, 'KZT': 491.824138, 'LAK': 12410.868931, 'LBP': 1704.448704, 'LKR': 227.682634, 'LRD': 159.758761, 'LSL': 18.05681, 'LTL': 3.330223, 'LVL': 0.68222, 'LYD': 5.182174, 'MAD': 10.439029, 'MDL': 19.930211, 'MGA': 4475.688429, 'MKD': 61.599782, 'MMK': 2006.32106, 'MNT': 3223.804479, 'MOP': 9.054663, 'MRO': 402.639177, 'MUR': 49.290585, 'MVR': 17.372797, 'MWK': 920.726415, 'MXN': 23.706464, 'MYR': 4.775287, 'MZN': 71.990407, 'NAD': 18.056835, 'NGN': 462.629849, 'NIO': 39.704615, 'NOK': 10.217646, 'NPR': 136.622501, 'NZD': 1.673181, 'OMR': 0.434217, 'PAB': 1.127212, 'PEN': 4.57397, 'PGK': 3.957166, 'PHP': 56.781743, 'PKR': 200.722577, 'PLN': 4.641236, 'PYG': 7690.663704, 'QAR': 4.106476, 'RON': 4.949982, 'RSD': 117.58492, 'RUB': 82.898714, 'RWF': 1168.156769, 'SAR': 4.230804, 'SBD': 9.121313, 'SCR': 15.074954, 'SDG': 493.428984, 'SEK': 10.268765, 'SGD': 1.543733, 'SHP': 1.553486, 'SLL': 12667.914507, 'SOS': 659.787199, 'SRD': 24.29254, 'STD': 23344.039374, 'SVC': 9.863476, 'SYP': 2833.693317, 'SZL': 17.890918, 'THB': 37.695838, 'TJS': 12.725556, 'TMT': 3.947445, 'TND': 3.24424, 'TOP': 2.581291, 'TRY': 15.659767, 'TTD': 7.652242, 'TWD': 31.368201, 'TZS': 2598.546518, 'UAH': 30.336809, 'UGX': 4012.673122, 'USD': 1.127841, 'UYU': 49.836688, 'UZS': 12202.865378, 'VEF': 241166572127.05038, 'VND': 25909.336003, 'VUV': 127.731028, 'WST': 2.93258, 'XAF': 655.719429, 'XAG': 0.050725, 'XAU': 0.000631, 'XCD': 3.048048, 'XDR': 0.807308, 'XOF': 655.792084, 'XPF': 119.551591, 'YER': 282.242603, 'ZAR': 18.091568, 'ZMK': 10151.927487, 'ZMW': 18.231373, 'ZWL': 363.164463}}

### Loading the Data

Usually you will Load the `pandas` dataframe created above into a JSON named `bank_market_cap.json` using the `to_json()` function, but this time the data will be sent to another team who will split the data file into two files and inspect it. If you save the data it will interfere with the next part of the assignment.

In [102]:
#Write your code here

def Loading_to_json(target_file, dataframe):
    dataframe.to_json(target_file)

Loading_to_json('bank_market_cap.json', data)


"""
with open('bank_market_cap.json', 'r') as a:
    print(a.readlines())
"""

"\nwith open('bank_market_cap.json', 'r') as a:\n    print(a.readlines())\n"

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation.